{
  "presets": [
    [
      "env"
    ],
    "stage-2",
    "react"
  ],
  "plugins": [
    "transform-decorators-legacy",
    ["transform-runtime"],
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "comps": "./src/components",
        "infra": "./src/infra",
        "globals": "./src/globals",
        "config": "./src/config",
        "utils": "./src/utils",
        "pages": "./src/pages",
        "const": "./src/constants",
        "widgets": "./src/widgets",
        "editWidget": "./src/widget-editor",
        "hoc": "./src/hoc"
      }
    }]
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-react-constant-elements",
        "transform-react-remove-prop-types",
        ["module-resolver", {
          "alias": {
            "config": "./src/config/production"
          }
        }]
      ]
    },
    "staging": {
      "plugins": [
        "transform-react-constant-elements",
        "transform-react-remove-prop-types",
        ["module-resolver", {
          "alias": {
            "config": "./src/config/staging"
          }
        }]
      ]
    },
    "development": {
      "plugins": [
         ["module-resolver", {
          "alias": {
            "config": "./src/config/development"
          }
        }]
      ]
    }
  }
}
