.v7_preview-widget {
  position: relative;
  &.selected {
    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 2px solid #f50;
      z-index: 10;
    }
  }
}
