#design-page {
  font-size: 16PX;
  width: 1400px;
  margin: 0 auto;
  display: flex;
  height: 100%;
  .tree-view-area {
    flex: 0 0 500PX;
    background: #f2f2f2;
    height: 100%;
    .widget-tree-item {
      .fa {
        margin-right: 5px;
      }
      &.selected {
        outline: solid 8px #fc6421;
      }
      .rst__rowTitleWithSubtitle {
        height: auto;
        font-size: 18px;
      }
      .ui input {
        width: 80px;
        font-size: 12px;
        padding: 0 3px;
        height: 20px;
      }
      .ui.label{
        padding: 0 3px;
        line-height: 20px;
        font-size: 12px;
      }
    }
  }

  .preview-area {
    flex: 0 0 390px;
    width: 390px;
    margin: 0 30px;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .edit-area {
    flex: 0 0 450px;
  }

}
